.App {
  height: 100%;
  background: beige;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

html,
body,
body > div {
  height: 100%;
}
